html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 15vh;
  background-color: #f5f5f5;
}
.footer {
  position: fixed;
  z-index: auto;
  bottom: 0;
  width: 100%;
}

#talk {
  width: 70%;
}

img {
  height: 10vh;
  margin-bottom: 1em;
  background-color: #f5f5f5;
}

img:hover {
  cursor: pointer;
}

audio {
  display: none;
}
